/* .container {
    width: 80%;
    margin: 0 auto;
}

header {
    background: black
}

header::after {
    content: '';
    display: table;
    clear: both;
}

.logo {
    float: left;
    padding: 10px 0;
    border-radius: 4px;
    width: 150px;
    height: 60px;
    margin: 0px;
    align-self: left;
}

nav {
    float: right;
    max-height: 10px;
}


nav ul {
    margin: 0;
    padding: 0;
    list-style: none;

}

nav li {
    display: inline-block;
    margin-left: 70px;
    padding-top: 30px;

    position: relative;

}

nav a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
}

nav a:hover {
    color: red;
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    background-color: white;

    position: absolute;
    top: 0;
    width: 0%;

    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

.navbar div {
    width: 25px;
    height: 5px;
    background-color: white;
    margin: 5px;
}

.navbar {
    display: none;
} */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins'sans-serif;
}

body {
    background: #f2f2f2
}

nav {
    background: black;


}

nav:after {
    content: '';
    clear: both;
    display: table;

}

nav ul {
    float: right;
    list-style: none;
    margin-right: 50px;
    position: relative;
}

nav ul li {
    /* float: left; */
    display: inline-block;
    background: black;
    margin: 0 5px;
    display: inline-block;
    margin-left: 20px;
    padding-top: 5px;

}

nav ul li a {
    color: white;
    text-decoration: none;
    line-height: 70px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul ul li a:hover {
    color: cyan;
    box-shadow: none;

}

nav ul ul {
    position: absolute;
    top: 90px;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
    z-index: 1;
}

nav ul li:hover>ul {
    top: 70px;
    opacity: 1;
    visibility: visible;

}

nav ul ul li a {
    line-height: 50px;

}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 150px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

nav ul li a:hover {

    border-radius: 5px;
    box-shadow: 0 0 5px #33ffff,
        0 0 5px #66ffff;
    color: cyan;
}



.logo {
    float: left;
    padding: 10px 0;
    border-radius: 4px;
    width: 180px;
    height: 85px;
    margin: 0px;
    align-self: left;
    padding-left: 30px;
}

.show,
#btn,
#btn-1,
.icon {
    display: none;
}


@media all and (max-width: 1024px) {
    nav ul {
        margin-right: 0px;
        float: left;
    }

    nav .logo {
        float: left;
        padding-left: 30px;
        width: 180px;
        height: 85px;
    }

    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;

    }

    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul a {
        padding-left: 40px;
    }

    .show {
        display: block;
        color: white;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    nav ul li a:hover {
        box-shadow: none;
    }

    nav ul ul li {
        border-bottom: 0px;
    }

    .show:hover {
        color: cyan;
    }

    .icon {
        display: block;
        color: white;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    .show+a,
    ul {
        display: none;
    }

    [id^=btn]:checked+ul {
        display: block;
    }

}